{% extends 'layout.html.twig' %}

{% block content %}
    <div class="col-md-12 no-padding">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <h4><i class="fa fa-list" aria-hidden="true"></i> Extrato</h4>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <h3 class="text-justify">Selecione o período para emitir o extrato</h3><br>
                <form class="form-inline" method="get" action="{{ route('statements.list') }}">
                    <div class="row">
                        <div class="form-group col-md-5">
                            <label>Selecione a data inicial</label><br>
                            <div class="input-group col-md-12">
                                <span class="input-group-addon" id="basic-addon1">
                                    <span class="fa fa-calendar" aria-hidden="true"></span>
                                </span>
                                <input class="form-control" type="text" placeholder="DD/MM/YYYY" name="date_start" value="{{ 'now'|date_modify('-1 month')|date('d/m/Y') }}">
                            </div>
                        </div>
                        <div class="form-group col-md-5">
                            <label>Selecione a data final</label><br>
                            <div class="input-group col-md-12">
                                <span class="input-group-addon" id="basic-addon1">
                                    <span class="fa fa-calendar" aria-hidden="true"></span>
                                </span>
                                <input class="form-control" type="text" placeholder="DD/MM/YYYY" name="date_end" value="{{ 'now'|date('d/m/Y') }}">
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label>&nbsp;</label><br>
                            <div class="input-group">
                                <button type="submit" class="btn btn-primary">
                                    <span class="fa fa-search"></span> Buscar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="col-md-12"><h3>Totais no período:</h3></div>
                    <div class="col-md-4">
                        <h4 class="text-success">
                            <strong>Dinheiro recebido:</strong>
                            R$ {{ statements.total_receives|number_format(2,',','.') }}
                        </h4>
                    </div>
                    <div class="col-md-4">
                        <h4 class="text-danger">
                            <strong>Contas pagas:</strong>
                            R$ {{ statements.total_pays|number_format(2,',','.') }}
                        </h4>
                    </div>
                    <div class="col-md-4">
                        <h4 class="text-primary">
                            <strong>Saldo:</strong>
                            R$ {{ (statements.total_receives - statements.total_pays)|number_format(2,',','.') }}
                        </h4>
                    </div>
                </div>
                <hr>
                <div class="col-md-12">
                    <div class="row">
                        <h3>Extrato detalhado sobre período:</h3>
                        <div class="list-group">
                            {% for statement in statements.statements %}
                                {% set isBillPay = statement.category_name is not null %}
                                <a href="#" class="list-group-item">
                                    <h4 class="list-group-item-heading">
                                        <span class="fa fa-{{ isBillPay?'minus':'plus' }}">
                                            {{ statement.date_launch|date('d/m/Y') }} - {{ statement.name }}
                                        </span>
                                    </h4>
                                    {% if isBillPay %}
                                        <p class="list-group-item-text">
                                            {{ statement.category_name }}
                                        </p>
                                    {% endif %}
                                    <h4 class="text-right">
                                        <span class="label label-{{ isBillPay?'danger':'success' }}">
                                            R$ {{ isBillPay?'-':'' }}{{ statement.value|number_format(2,',','.') }}
                                        </span>
                                    </h4>
                                    <div class="clearfix"></div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}