{% extends 'layout.html.twig' %}

{% block content %}
    
    <div class="col-md-12 no-padding">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <h4><i class="fa fa-list" aria-hidden="true"></i> Ver usuário</h4>
                    </div>
                    <div class="col-xs-6 text-right">
                        <ol class="breadcrumb">
                            <li><a href="{{ route('users.list') }}"><i class="fa fa-backward" aria-hidden="true"></i> Voltar - Contas à receber</a></li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th scope="row">#</th>
                                    <td>{{ user.id }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Nome</th>
                                    <td>{{ user.first_name ~ ' ' ~ user.last_name }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Email</th>
                                    <td>{{ user.email }}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Ação</th>
                                    <td>
                                        <div class="col-md-6">
                                            <a href="{{ route('users.edit',{'id': user.id}) }}"class="btn btn-primary col-md-12">
                                                <span class="fa fa-pencil"></span> Editar
                                            </a>
                                        </div>

                                        <div class="col-md-6">
                                            <a href="{{ route('users.delete',{'id': user.id}) }}"class="btn btn-danger col-md-12">
                                                <span class="fa fa-trash"></span> Excluir?
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}